<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ rule | title }} Learning Rule</title>
    </head>
    <body>
        <h1>{{ rule | title }}Learning Rule</h1>
        <h2>Hello, {{desc}}</h2>
        <h3>Code</h3>
        <p>
            {% for code_line in code %}
                {{ code_line }}
                <br>
                <!-- an edit for demonstration -->
            {% endfor %}
        </p>
        <button><a href="{% url 'contribute' rule_name=rule %}" style="color:black">Contribute</a></button>
    </body>
</html>  